@model Order

@if (Model != null)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Muokkaa tilausta</h4>
    </div>
    <form id="editOrderForm" asp-controller="Orders" asp-action="Edit">
        <div class="modal-body">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="OrderDate" />
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </form>
}